<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Courses</title>
  </head>
  <body>
    <h1>Add a new course</h1>
    <form action="/addnew" method="post">
      {% csrf_token %}
      <p>Name: <input type="text" name="name">
      <p>Description: <textarea name="description" rows="6" cols="30"></textarea></p>
      <p><button>Add</button></p>
    </form>
      <table>
        <tr>
          <th>Course Name</th>
          <th>Description</th>
          <th>Date Added</th>
          <th>Actions</th>
        </tr>
      {% for course in courses %}
        <tr>
          <td>{{ course.name }}</td>
          <td>{{ course.description }}</td>
          <td>{{ course.created_at }}</td>
          <td><a href="/confirm/{{ course.id }}">remove</a></td>
        </tr>
      {% endfor %}
      </table>

  </body>
</html>
